{% extends 'site_description/standart_page.html' %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
    <title>Profile page</title>
{% endblock title %}


{% block content %}
    <div class="container">
		<div class="main-body">
			<div class="row">
				<div class="col-lg-4">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img src="https://icon-library.com/images/default-user-icon/default-user-icon-4.jpg" alt="Admin" class="rounded-circle p-1 bg-info" width="110">
								<div class="mt-3">
									<h4>{{ user }}</h4>
									<p class="text-secondary mb-1">Auschooltation student</p>
									<p class="text-muted font-size-sm">{{ user.email }}</p>


								</div>
							</div>
						</div>
					</div>



				</div>
				<div class="col-lg-8">
					<div class="card">
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Username</h6>
								</div>
								<div class="col-sm-9 text-secondary">
                                    <h6 class="text-justify">{{ user }}</h6>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary">
                                    <h6 class="text-justify">{{ user.email }}</h6>
								</div>
							</div>


						</div>
					</div>
					<div class="row my-3">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<h5 class="d-flex align-items-center mb-3">Правильность ответов</h5>
									<p>Тоны сердца</p>
									<div class="progress mb-3" style="height: 12px">
										<div class="progress-bar bg-primary" role="progressbar" style="width: {{ success_percentage }}%" aria-valuenow="{{ success_percentage }}" aria-valuemin="0" aria-valuemax="100">{{ success_percentage }}%</div>
									</div>
									<p>Курс 2</p>
									<div class="progress mb-3" style="height: 12px">
										<div class="progress-bar bg-danger" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<p>Курс 3</p>
									<div class="progress mb-3" style="height: 12px">
										<div class="progress-bar bg-success" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<p>Курс 4</p>
									<div class="progress mb-3" style="height: 12px">
										<div class="progress-bar bg-warning" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
									<p>Курс 5</p>
									<div class="progress" style="height: 12px">
										<div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}