{% extends 'site_description/standart_page.html' %}
{% load static %}

{% block title %}
    <title>Lessons</title>
{% endblock title %}


{% block content %}

    <h2>Основы аускультации. Точки аускультации сердца</h2>

    <h5 class="my-4">
        Аускультацию сердца проводят в определенном порядке, обусловленным частотой поражения клапанов.
        Чаще всего изменениям подвержен митральный клапан (<span style="color:red;">1 точка аускультации</span>, область верхушки сердца),
        затем слушают аортальный (<span style="color: #EE7C2D;">2 точка</span>, II межреберье по правому краю грудины),
        лёгочный (<span style="color: #75D612">3 точка</span>, II межреберье по левому краю грудины),
        трикуспидальный (<span style="color:#3566FD;">4 точка</span>, у основания мечевидного отростка).
        <br>Точка Боткина-Эрба является дополнительной
        (<span style="color:#833B7F;">5 точкой</span>, III межреберье по левому краю грудины) выслушивания аортального клапана.
        <br>Эти точки являются местами проведения тонов и шумов сердца на грудную клетку.
    </h5>

    <img src="{% static 'lessons/img/basics/heart_auscultation_points.png' %}" class="img-fluid" alt="heart points">

    <h5 class="my-4">
        Мнемоническим приемом запоминания порядка точек аускультации является слово МАЛьТА,
        где каждая буква является первой буквой в названии соответствующего клапана.
        В процессе изучения всех аускультативных феноменов, рекомендуем постоянно держать
        в голове физиологию сердечного цикла, чтобы четко понимать, что происходит в сердце в тот или иной момент времени.
    </h5>

    <div class="text-right">
        <a class="btn btn-success" href="{% url 'heart_norm' %}" role="button">Следующий урок</a>
    </div>

{% endblock content %}